<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/cs/style.css">
        <title>About</title>
        <link rel="icon" href="/img/icon.png">

    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>this is created by me</p>
             <img class="portrait" src="/img/1.jpg">
        </div>
        
        {{>footer}}

    </body>
</html>