<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/cs/style.css">
        <title>error</title>
        <link rel="icon" href="/img/icon.png">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>{{para}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>